body {
    background-color: #EAE7DC;
    text-align: center
    ;
}

.banner {
    padding: 45px;
    background: #D8C3A5;
}

h1 {
    padding: 5%;
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
    color: #E85A4F;
    margin: 10px;
    animation: fade 1s ease backwards;
}
h3 {
    animation: fade 3s ease backwards;
    font-family: 'Bebas Neue', sans-serif;
    color: #8E8D8A;
    margin: 20px;
}


/* hover button */
.entButton {
    animation: fade 5s ease backwards;
    color: #E98074;
    border: 2px solid;
    background: none;
    padding: 5px 30px;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    cursor: pointer;
    margin:100px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 10%;
}

.entButton:hover {
    color: #EAE7DC;
}

.entButton::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #E98074;
    z-index: -1;
    transition: 0.8s;
    top: 0%;
    border-radius: 0% 0% 50% 50%;
}

.entButton:hover::before {
    height: 180%;
}
/* hover button */


.homeHeader {
    text-align: left;
    padding: 0px;
    margin: 0px;
}


.homeLinks {
    color: #E98074;
    font-family: 'Bebas Neue', sans-serif;
    margin:10px;
    background: none;
    border: 1px solid;
    font-size: 17px;
    margin: 7px;
    border-radius: 10%;
}


@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}