body {
    background-color: #EAE7DC;
    text-align: center;
}

h1 {
    padding: 5%;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    color: #E85A4F;
    margin: 10px;
}
h3 {
    font-family: 'Bebas Neue', cursive;
    color: #8E8D8A;
    margin: 20px;
}


/* hover button */
.entButton {
    color: #E98074;
    border: 2px solid;
    background: none;
    padding: 5px 30px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
    margin:100px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 10%;
}

.entButton:hover {
    color: #EAE7DC;
}

.entButton::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #E98074;
    z-index: -1;
    transition: 0.8s;
    top: 0%;
    border-radius: 0% 0% 50% 50%;
}

.entButton:hover::before {
    height: 180%;
}
/* hover button */


.homeHeader {
    text-align: left;
    padding: 15px;
}


.homeLinks {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer; 
    
}