
body {
    background-color: #EAE7DC;
    text-align: center;
}

.tBlogHeaders {
   font-size: 29px;
   text-align: left;
   margin-left: 35px;
 }

h1 {
    padding: 5%;
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
    color: #E85A4F;
    margin: 10px;
    animation: fade 1s ease backwards;
}

h3 {
    animation: fade 3s ease backwards;
    font-family: 'Bebas Neue', sans-serif;
    color: #E98074;
    margin: 20px;
}

.homeH3 {
    animation: fade 3s ease backwards;
    font-family: 'Bebas Neue', sans-serif;
    color: #8E8D8A;
}




p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
    color:#8E8D8A;
}

.blogHeader {
    padding: 5%;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    color: #E85A4F;
    margin: 10px;
}

/* hover button */
.entButton {
    animation: fade 5s ease backwards;
    color: #E98074;
    border: 2px solid;
    background: none;
    padding: 5px 30px;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    cursor: pointer;
    margin:100px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 10%;
}

.entButton:hover {
    color: #EAE7DC;
}

.entButton::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #E98074;
    z-index: -1;
    transition: 0.8s;
    top: 0%;
    border-radius: 0% 0% 50% 50%;
}

.entButton:hover::before {
    height: 180%;
}
/* hover button */


.homeHeader {
    text-align: left;
    padding: 0px;
    margin: 0px;
}


.homeLinks {
    color: #E98074;
    font-family: 'Bebas Neue', sans-serif;
    margin:10px;
    background: none;
    border: 1px solid;
    font-size: 29px;
    margin: 10px;
    border-radius: 10%;
    display: flex;
    align-content: left;
    text-decoration: none;

}


@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* testing box page layout build */

.cols {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.box1 {
margin-bottom: 205px;
background-color: #D8C3A5;
padding-left: 30px;
padding-top: 50px;
border-bottom: 6px solid #8E8D8A;

}


.box2 {
    width: 250px;
    border-right: 6px solid #8E8D8A;
    display: flex;
    align-content: left;
    margin-top: -205px;
    padding-top: 30px;
}

.box3 {
    width: 1110px ;
    border-top:6px solid #E98074;
    border-left: 6px solid #E98074;
    margin-top: -160px;
    position: relative;
}


.mainBlogTxt {
text-align: left;
padding-left: 50px;
font-family: 'Cabin', sans-serif;
color: #8E8D8A;
font-size: 17px;
}

.img1 {
    height: 210px;
    width: 300px;
    margin-left: 175px;  
}

.boxMDL {
 margin-left: 28px;
}

